.set-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #11151c;
}
.set-bg-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/src/assets/Asset-3512.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: transform 0.3s ease-out;
    overflow: hidden;
    /* transform: translateX(10px) translateY(10px); */
    transform: translateX(var(--translateX)) translateY(var(--translateY)) scale(1.1);
    background-size: contain;
    background-repeat: repeat;
}
.set-grid-img-1 {
    background-image: url(/src/assets/grid.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.set-grid-bg-1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 21, 28,0.8);
}
.set-not-found-1{
    background-color: #11151c !important;
}
.content{
    position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.set-div-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.set-div-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
#set-img-1 {
    width: 7%;
    display: inline-block;
}
#set-img-1 img{
    width: 100%;
}
.set-ul-1 {
    gap: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.set-ul-1 li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.set-ul-1 li a {
    color: #fff;
    font-family: "Preahvihear", sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
#set-btn-1{
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: "Preahvihear", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(0,180,216,1) 0%, rgba(97,248,225,1) 100%);
    border-radius:30px;
    box-shadow: 0px 0px 10px 0px #15B4DE;
    border:none;
}
.NotFound-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #61F8E1;
    font-family: "Preahvihear", Sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px rgba(21.000000000000007, 180.00000000000006, 222, 0.68);
    position:relative;
}
.set-div-2 img{
    width: 100%;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}
.set-div-2 img:hover{
    transform: rotate(10deg);
}
.set-div-3{
    text-align: center;
}
.set-div-3 h2{
    color: #61F8E1;
    font-family: "Preahvihear", Sans-serif;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px rgba(21.000000000000007, 180.00000000000006, 222, 0.68);
}
.set-div-3 p{
    color: #FFFFFF;
    font-family: "Preahvihear", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
}
.set-div-4 {
    border-style: none;
    box-shadow: 0px 0px 15px 5px #61F8E1 inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1.5em 1em;
    border-radius: 15px;
}
.set-div-4 div img{
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.set-div-4 div img:hover{
    transform: scale(1.1);
}
.set-div-4 div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.set-div-5 div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    gap: 15px;
}
.set-div-5 div a{
    padding: 10px 35px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: "Preahvihear", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(0,180,216,1) 0%, rgba(97,248,225,1) 100%);
    border-radius:30px;
    box-shadow: 0px 0px 10px 0px #15B4DE; 
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.set-div-5 div a:hover{
    transform: scale(1.1);
}

.set-div-7 {
    padding: 50px 250px 100px;
}
.set-div-7 div{
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #61F8E1;
    box-shadow: 0px 0px 10px 0px #61F8E1;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    padding: 10px;
}
.set-div-8 a {
    padding: 10px 40px;
    color: #00B4D8;
    text-decoration: none;
    display: inline-block;
    font-family: "Preahvihear", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #15B4DE;
    margin-top: 40px;
}
.set-div-8 {
    background: linear-gradient(90deg, rgba(3, 66, 87, 1) 0%, rgba(18, 156, 135, 1) 100%);
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #61F8E1;
    box-shadow: 0px 0px 10px 0px #61F8E1;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3em 2em 3em 2em;
    border-radius: 10px;
    margin-top: 50px;
}
.set-div-9 a{
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: "Preahvihear", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(0,180,216,1) 0%, rgba(97,248,225,1) 100%);
    border-radius:30px;
    box-shadow: 0px 0px 10px 0px #15B4DE; 
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

}
.set-div-9 a:hover{
    transform: scale(1.1);
}
.set-div-9{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 120px 0 0;
}
.set-div-10{
    padding: 80px 0 120px;
}
.set-div-11{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.set-div-11 img{
    width: 55px;
    height: 55px;
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.set-div-11 img:hover{
    transform: scale(1.1);
}
.set-div-12 a{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    font-family: "Preahvihear", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.set-div-12{
    margin-top: 50px;
}
.footer-div-1 {
    background-color: #004a42;
    text-align: center;
    padding: 30px 0;
}
.footer-div-1 p{
    margin: 0;
    padding: 0;
    color: #fff; 
    font-family: "Preahvihear", Sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.set-div-13 {
    padding: 50px 0 100px;
}
.set-res-div-1{
    display: none;
}
.set-res-li-1{
    display: none;
}
.set-menu-bar-1{
    display: none;
}
.set-div-8.abt-1{
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 1em 2em 1em 2em;
}
.set-div-9.abt-2{
    margin: 40px 0 0;
}
.how-div-1{
    display: flex;
    align-items: center;
    gap: 40px;
    background: linear-gradient(90deg, rgba(3, 66, 87, 1) 0%, rgba(18, 156, 135, 1) 100%);
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #61F8E1;
    box-shadow: 0px 0px 10px 0px #61F8E1;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
}
.how-div-2 img {
    width: 100px;
    height: 100px;
}
.how-div-3 h2{
    font-size: 40px;
    text-align: start;
}
.how-div-3 p{
    text-align: start;
}
.how-div-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.set-div-9.how-div-5{
    margin: 80px 0 0;
}
.set-toke-div-1 {
    background: linear-gradient(180deg, #61F8E1 0%, #00B4D8 100%);
    box-shadow: 0px 0px 10px 0px #15B4DE;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 4em 2em 4em;
    width: 300px;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
}
.set-toke-div-1 h2{
    color: #fff;
    font-family: "Preahvihear", Sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    stroke: #fff;
}
.set-toke-div-1 p{
    color: #fff;
    font-family: "Capriola", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}
.set-toke-div-2 img{
    width: 100%;
}
.set-toke-div-3 {
    display: flex;
    align-items: center;
}
.set-toke-div-4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}
.set-toke-div-5{
    border-style: none;
    box-shadow: 0px 0px 15px 5px #61F8E1 inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3em 1em 3em 1em;
    border-radius: 8px;
    width: 100%;
}
.set-toke-div-5 h3{
    color: #fff;
    font-family: "Preahvihear", Sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    stroke: #fff;
    margin-bottom: 1em;
}
.set-toke-div-5 ul li{
    color: #fff;
    font-family: "Preahvihear", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}
.set-toke-div-6 {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    margin-top: 3em;
}
.set-div-5.home-res-1 {
    padding-bottom: 80px;
}
.set-brigde-1 p{
    font-size: 25px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
}
.set-brigde-1 p:nth-child(1){
    font-size: 25px;
    font-family: "Abel", sans-serif;
    font-weight: 600;
}
.set-bridge-2{
    width: 100%;
}
.set-bridge-2 img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    transform: rotate(0deg) scale(1);
    transition: transform 0.2s ease-in-out;
}
.set-bridge-2 img:hover{
    transform: rotate(10deg) scale(1.1);
}
.set-bridge-3 a{
background-color: #0d2442 !important;
color: #fff !important;
transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.set-bridge-3 a:hover{
    transform: scale(1.1);
}

.swap-desktop-set-2{
    overflow-y: scroll !important;
    overflow-x:hidden !important;
}
.swap-desktop-set-2::-webkit-scrollbar{
    display: none !important;
}


@media only screen and (min-width: 320px) and (max-width: 529px) {
    .set-div-wid{
        display: none;
    }
    .toggle-div{
        display: none;
    }
    .set-loader-1{
        display: none !important;
    }
    .set-menu-bar-1{
        display: inline-block;
    }
    .set-ul-1 {
        gap: 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 100vh;
        top: 0;
        left: -100%;
        background-color: #11151d;
        width: 100%;
        justify-content: center;
        padding-left: 30px;
        z-index: 2;
        transition: left 0.4s ease-in-out;
    }
    #set-ul-1-active{
        left: 0%;
    }
    .set-res-li-1{
        display: unset !important;
    }
    #set-btn-1{
        display: none;
    }
    .set-res-li-1 #set-btn-1{
        display: inline-block !important;
    }
    #set-img-1 {
        width: 20%;
    }
    .set-res-div-1{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .set-res-div-1 button {
        background-color: #61F8E1;
        color: #fff;
        padding: 10px 20px;
        border: 2px solid #fff;
        border-radius: 5px;
    }
    .set-res-div-1 h2{
        color: #fff;
        font-family: "Preahvihear", Sans-serif;
        font-size: 35px;
        font-weight: 700;
        text-shadow: 0px 0px 10px rgba(97.00000000000006, 248, 225.00000000000006, 0.63);
    }
    .set-div-3 h2 {
        font-size: 60px;
    }
    .set-menu-bar-1 {
        background-color: #61F8E1;
        color: #fff;
        padding: 10px 20px;
        border: 2px solid #fff;
        border-radius: 5px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .set-div-7 {
        padding: 50px 20px 100px;
    }
    .set-toke-div-3 {
        flex-direction: column;
    }
    .set-toke-div-4 {
        gap: 30px;
    }
    .set-toke-div-1 {
        padding: 2em 2em 2em 2em;
    }
    .toke-res-1{
        font-size: 45px !important;
    }
    .set-toke-div-6 {
        flex-direction: column;
    }
    .how-div-1 {
        flex-direction: column;
    }
    .how-div-3 h2 {
        font-size: 40px;
    }
    .home-res-1{
        padding-bottom: 50px !important;
    }
    .partner-res-1 img{
        width: 100%;
    }
    .set-div-8.partner-res-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .set-contact-container{
        height:100%;
    }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
    
}
@media only screen and (min-width: 414px) and (max-width: 425px) {

}
@media only screen and (min-width: 425px) and (max-width: 529px) {
}
@media only screen and (min-width: 530px) and (max-width: 767px) {
    
    .set-ul-1 li a {
        font-size: 12px;
    }
    .set-ul-1 {
        gap: 10px;
    }
    #set-btn-1 {
        padding: 5px 20px;
        font-size: 12px;
    }
    #set-img-1 {
        width: 10%;
    }
    .set-div-7 {
        padding: 50px 20px 100px;
    }

    .set-toke-div-3 {
        flex-direction: column;
    }
    .set-toke-div-4 {
        gap: 30px;
    }
    .set-toke-div-1 {
        padding: 2em 2em 2em 2em;
    }
    .toke-res-1{
        font-size: 50px !important;
    }
    .set-toke-div-6 {
        flex-direction: column;
    }
    .toke-res-1.landscape{
        font-size: 70px !important;
    }
}
@media only screen and (min-width:768px) and (max-width: 991px) {
    .set-ul-1 li a {
        font-size: 14px;
    }
    .set-ul-1 {
        gap: 20px;
    }
    #set-btn-1 {
        padding: 10px 30px;
        font-size: 14px;
    }
    #set-img-1 {
        width: 10%;
    }
    .set-div-3 h2 {
        font-size: 80px;
    }
    .set-div-7 {
        padding: 50px 80px 100px;
    }
    .toke-res-1{
        font-size: 35px !important;
    }
    .toke-res-1.landscape{
        font-size: 70px !important;
    }
    .set-toke-div-4 {
        gap: 40px;
    }
    .set-toke-div-6 {
        gap: 10px;
    }
    .set-toke-div-5 ul li {
        font-size: 14px;
    }
    .how-div-3 h2 {
        font-size: 40px;
    }
}
@media only screen and (min-width:992px) and (max-width: 1199px) {
    .set-ul-1 li a {
        font-size: 16px;
    }
    .set-ul-1 {
        gap: 30px;
    }
    #set-btn-1 {
        padding: 10px 30px;
        font-size: 16px;
    }
    #set-img-1 {
        width: 10%;
    }
    .set-div-7 {
        padding: 50px 200px 100px;
    }
}
@media only screen and (min-width:1260px) and (max-width: 1365px) {
   
    .set-div-13 {
        padding: 100px 0 150px;
    }
    .swap-desktop-set-2{
        overflow-y: scroll !important;
        overflow-x:hidden !important;
    }
    .swap-desktop-set-2::-webkit-scrollbar{
        display: none !important;
    }
    .swap-desktop-set-1{
        height:100vh !important;
    }
}
@media only screen and (min-width:1366px) and (max-width: 1439px) {
}
@media only screen and (min-width: 1440px) and (max-width: 1599px) {
    .set-div-13 {
        padding: 150px 0 200px;
    }
    .set-container {
        height: 100vh;
    }
    .swap-res-1{
        height: 100%;
    }
    .swap-desktop-set-2{
        overflow-y: scroll !important;
        overflow-x:hidden !important;
    }
    .swap-desktop-set-2::-webkit-scrollbar{
        display: none !important;
    }
    .swap-desktop-set-1{
        height:100vh !important;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
    
    .set-div-13 {
        padding: 150px 0 200px;
    }
    .set-container {
        height: 100vh;
    }
    .swap-res-1{
        height: 100%;
    }
    .swap-desktop-set-2{
        overflow-y: scroll !important;
        overflow-x:hidden !important;
    }
    .swap-desktop-set-2::-webkit-scrollbar{
        display: none !important;
    }
    .swap-desktop-set-1{
        height:100vh !important;
    }
}
@media only screen and (min-width: 1680px) and (max-width: 1919px){
   
    .set-div-10 {
        padding: 100px 0 160px;
    }
    .set-div-13 {
        padding: 200px 0 300px;
    }
    .swap-desktop-set-2{
        overflow-y: scroll !important;
        overflow-x:hidden !important;
    }
    .swap-desktop-set-2::-webkit-scrollbar{
        display: none !important;
    }
    .swap-desktop-set-1{
        height:100vh !important;
    }
}
@media only screen and (min-width: 1920px) and (max-width: 2100px) {
    
    .set-div-10 {
        padding: 120px 0 180px;
    }
    .set-div-13 {
        padding: 250px 0 300px;
    }
    .set-container {
        height: 100vh;
    }
    .swap-res-1{
        height: 100%;
    }
    .swap-desktop-set-2{
        overflow-y: scroll !important;
        overflow-x:hidden !important;
    }
    .swap-desktop-set-2::-webkit-scrollbar{
        display: none !important;
    }
    .swap-desktop-set-1{
        height:100vh !important;
    }
}
@media only screen and (min-width: 2560px) {
}


.swap-desktop-set-2{
    overflow-y: scroll !important;
    overflow-x:hidden !important;
}
.swap-desktop-set-2::-webkit-scrollbar{
    display: none !important;
}
.swap-desktop-set-1{
    height:100vh !important;
}
.set-contact-container{
    height:100%;
}
.set-div-wid{
    position: relative;
}
.set-div-wid .toggle-div {
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 120%;
}

/* .toggle-div p.MuiTypography-root.MuiTypography-body1.MuiTypography-alignLeft.MuiTypography-noWrap.css-11hpbr1-MuiTypography-root{
display: none;
}
.toggle-div button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-153ws44-MuiButtonBase-root-MuiIconButton-root{
display: none;
} */
.toggle-div .MuiContainer-root.MuiContainer-maxWidthLg.css-17ohgw6-MuiContainer-root {
    display: none;
}

.toggle-div .css-1tjkdf5-MuiScopedCssBaseline-root {
    max-height: 300px;
}
.toggle-div .MuiContainer-root.MuiContainer-maxWidthLg.css-1wfsf5w {
    display: none;
}
.toggle-div ul.MuiList-root.MuiList-padding.css-v8tqxr {
    height: 200px;
}



.set-res-li-1{
    position: relative;
}

.set-res-li-1 .toggle-div-1 {
    position: absolute;
    left: 0;
    z-index: 9999;
    top: 120%;
}

/* .toggle-div p.MuiTypography-root.MuiTypography-body1.MuiTypography-alignLeft.MuiTypography-noWrap.css-11hpbr1-MuiTypography-root{
display: none;
}
.toggle-div button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-153ws44-MuiButtonBase-root-MuiIconButton-root{
display: none;
} */
.toggle-div-1 .MuiContainer-root.MuiContainer-maxWidthLg.css-17ohgw6-MuiContainer-root {
    display: none;
}

.toggle-div-1 .css-1tjkdf5-MuiScopedCssBaseline-root {
    max-height: 300px;
}

.toggle-div-1 .MuiContainer-root.MuiContainer-maxWidthLg.css-1wfsf5w {
    display: none;
}
.toggle-div-1 ul.MuiList-root.MuiList-padding.css-v8tqxr {
    height: 200px;
}